---
import Default from '@astrojs/starlight/components/Footer.astro';
const year = new Date().getFullYear()
---

<Default><slot /></Default>
<small>
    <p class="text-center text-gray-400">© 
        <span id="footer-year">{year}</span>&nbsp;
        Victor Opas Kane. Some rights reserved. 
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">
            CC BY-NC-ND 4.0 International License
        </a>
    </p>
</small>

<script is:inline>
    // credit "https://astro-tips.dev/recipes/dynamic-footer-date-for-static-websites/: 
    document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
