---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default><slot /></Default>
<small><p class="text-center text-gray-400">© 2025 Victor Opas Kane. Some rights reserved. CC BY-NC-ND 4.0 Intl</p></small>
